<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prototype">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>


        <!-- Adding an Up Action -->
        <!-- Declare a Parent Activity -->
        <activity
            android:name=".AcademicAdvisorPortal"
            android:label="Back"
            android:parentActivityName=".MainActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.MainActivity" />
            >
        </activity>
        <activity
            android:name=".NewRequest"
            android:label="Back"
            android:parentActivityName=".AcademicAdvisorPortal" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.prototype.AcademicAdvisorPortal" />
        > />
        <activity
            android:name=".OldRequest"
            android:label="Back"
            android:parentActivityName=".AcademicAdvisorPortal" />

        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="com.example.prototype.AcademicAdvisorPortal" />
        >
        <activity android:name=".AcademicRequest"

            ></activity>


        <activity
            android:name=".StudentPortal"
            android:label="Back"
            android:parentActivityName=".MainActivity">>

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.MainActivity" />
            >
        </activity>





        <!-- Add Request -->
        <activity
            android:name=".AddRequest"
            android:label="Back"
            android:parentActivityName="com.example.prototype.StudentPortal">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.StudentPortal" />
        </activity>

        <!-- Delete Request -->
        <activity
            android:name=".DeleteRequest"
            android:label="Back"
            android:parentActivityName="com.example.prototype.StudentPortal">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.StudentPortal" />
        </activity>


        <!-- Withdrawal Request -->
        <activity
            android:name=".WithdrawalRequest"
            android:label="Back"
            android:parentActivityName="com.example.prototype.StudentPortal">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.StudentPortal" />
        </activity>

        <!-- Check Request -->
        <activity
            android:name=".CheckRequest"
            android:label="Back"
            android:parentActivityName="com.example.prototype.StudentPortal">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.prototype.StudentPortal" />
        </activity>

    </application>

</manifest>